{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-unused-vars": 0,
    "max-len": [1, 140, 2, {"ignoreComments": true}]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb-base"],
  "globals": {
    "document": false
  }
}
